<!doctype html>
<html lang="it">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{{appname}} - {{app.environment}} {% endblock %}</title>
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
        <script type="text/javascript">
            var baseUrl = '{{app.request.baseUrl}}';
        </script>
        {% block head %}
            {% block bootstrapitaliajavascript %}
                <!--Consigliato da developer italia caricare il js di bootstrap in fondo alla pagina per una questione di velocità-->
                <!--ma anche perchè altrimenti nella console arriva un errore di typeerror e-->
                <script type="text/javascript" src="{{ asset('bundles/bootstrapitalia/js/bootstrap-italia.bundle.min.js') }}" crossorigin="anonymous"></script>
                <script type="text/javascript" src="{{ asset('bundles/bootstrapitalia/js/bootbox.min.js') }}" ></script>
                <script type="text/javascript" src="{{ asset('bundles/bootstrapitalia/js/moment.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('bundles/bootstrapitalia/js/bootstrap-datetimepicker.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('bundles/bootstrapitalia/js/fibootstrapitalia.js') }}"></script>

                <script type="text/javascript">
                    function fifreenotification(messaggio, tipo = "info", icon = "it-info-circle") {
                        $("#fifireenotificationcontainer").html('<div class="notification with-icon ' + tipo + '" role="alert" aria-labelledby="' + messaggio + '" id="fifireenotification"><h5><svg class="icon"><use xlink:href="{{ asset('bundles/bootstrapitalia/svg/sprite.svg') }}#' + icon + '"></use></svg>' + messaggio + '</h5></div>');
                        notificationShow('fifireenotification', 6000);
                    }
                </script>
            {% endblock %}

            {% block javascript %}
            {% endblock %}
            <link rel="stylesheet" href="{{ asset('bundles/bootstrapitalia/css/bootstrap-datetimepicker.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/bootstrapitalia/css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/bootstrapitalia/css/bootstrap-italia.min.css') }}" >
            <link rel="stylesheet" href="{{ asset('bundles/bootstrapitalia/css/italia-icon-font.css') }}" >  
            <link rel="stylesheet" href="{{ asset('bundles/bootstrapitalia/css/fibootstrapitalia.css') }}">
            
            {% block css %}
            {% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% block content %}
            {% endblock %}
        {% endblock %}
        <div id="fifireenotificationcontainer"></div>
    </body>
</html>